# Dependências
/vendor/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Cache
/cache/
/tmp/